/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    color: #493628;
    font-family: "Poppins", sans-serif;
    background-color: #E4E0E1;
}
.one-shipment{
    display: flex;
    gap: 15px;
    flex-direction: row;
    padding: 5px;
    width: 600px;
    border: #0D0D0D solid;

}
